/* .blog-post-page {
  h1[class*="title_"] {
    @apply twp !text-5xl font-bold;
  }

  article h2 {
    @apply twp text-2xl;
  }

  article h3 {
    @apply twp text-xl;
  }
}

.navbar__link--active,
a.navbar__link--active {
  @apply font-semibold;
}

.blog-authors-posts-page,
.blog-tags-post-list-page {
  h2[class*="title_"] {
    @apply !text-4xl;
  }
}

.blog-list-page {
  h2[class*="title_"] {
    @apply !text-3xl font-bold;
  }
} */
